{
  "server": "irc.freenode.net",
  "nick": "Nisman",
  "ident": "Nisman",
  "gecos": "Soy amigable",
  "password": "",
  "sasl": false,
  "sasl_username": "",
  "sasl_password": "",

  "talk": true,
  "replyrate": 5,
  "followinvites": true,
  
  "owners": ["unaffiliated/Mxcm777", "unaffiliated/jeda"],

  "channels": {
    "#U_U": {
      "talk": true,
      "replyrate": 10
    },
    "##Life":{
      "talk": false
    }
  }
}
    
